APP_NAME=DI Prototype V3
DEFAULT_OUTPUT_ROOT=output
JOB_RUN_ROOT=runs
BROWSER_MODE=managed
HEADLESS=false
CHROME_CHANNEL=chrome
PLAYWRIGHT_SLOW_MO_MS=0
STEP_DELAY_SECONDS=1
KEEP_BROWSER_OPEN=true
REAL_CHROME_EXECUTABLE=
LOTUS_TIMS_BROWSER_MODE=managed
MPAY_USERNAME=govebank
MPAY_PASSWORD=G0veB@nK
MPAY_FETCH_SERVU=false
LOTUS_TIMS_USERNAME=ac70344
LOTUS_TIMS_PASSWORD=Password18
SERVU_HOST=172.29.81.38
SERVU_PORT=22
SERVU_USERNAME=parut.s
SERVU_PASSWORD=GHB#123
MPAY_SERVU_PATH=/DCR/AMP/IN/
