APP_NAME=DI Prototype V3
DEFAULT_OUTPUT_ROOT=output
JOB_RUN_ROOT=runs
BROWSER_MODE=managed
HEADLESS=false
CHROME_CHANNEL=chrome
PLAYWRIGHT_SLOW_MO_MS=0
STEP_DELAY_SECONDS=5
KEEP_BROWSER_OPEN=true
REAL_CHROME_EXECUTABLE=
MPAY_USERNAME=
MPAY_PASSWORD=
MPAY_FETCH_SERVU=false
SERVU_HOST=
SERVU_PORT=22
SERVU_USERNAME=
SERVU_PASSWORD=
MPAY_SERVU_PATH=/DCR/AMP/IN/
