APP_NAME=DI Prototype V3
DEFAULT_OUTPUT_ROOT=output
JOB_RUN_ROOT=runs
BROWSER_MODE=managed
HEADLESS=false
CHROME_CHANNEL=chrome
PLAYWRIGHT_SLOW_MO_MS=0
STEP_DELAY_SECONDS=1
KEEP_BROWSER_OPEN=true
REAL_CHROME_EXECUTABLE=
LOTUS_TIMS_BROWSER_MODE=managed
BAAC_BROWSER_MODE=managed
BAAC_STMT_BROWSER_MODE=managed
TRUE_BROWSER_MODE=managed
COUNTER_SERVICE_BROWSER_MODE=managed
MPAY_USERNAME=govebank
MPAY_PASSWORD=G0veB@nK
MPAY_FETCH_SERVU=false
LOTUS_TIMS_USERNAME=ac70344
LOTUS_TIMS_PASSWORD=Password18
BAAC_USERNAME=ghb
BAAC_PASSWORD=Ghb@12345
BAAC_FETCH_SERVU=true
TRUE_USERNAME=ghbadmin
TRUE_PASSWORD=ghbpassword
TRUE_FETCH_SERVU=true
COUNTER_SERVICE_USERNAME=ghb
COUNTER_SERVICE_PASSWORD=ghbwyq111111
COUNTER_SERVICE_FETCH_SERVU=true
SERVU_HOST=172.29.81.38
SERVU_PORT=22
SERVU_USERNAME=parut.s
SERVU_PASSWORD=GHB#123
MPAY_SERVU_PATH=/DCR/AMP/IN/
BAAC_SERVU_PATH=/DCR/BAAC/IN/
TRUE_SERVU_PATH=/DCR/TRUE/IN/
COUNTER_SERVICE_SERVU_PATH=/DCR/CST/IN/
